NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SESSION_COOKIE_NAME=siif_portal_session
SESSION_TTL_DAYS=14
SUPABASE_STORAGE_BUCKET_RESUMES=resumes
SUPABASE_STORAGE_BUCKET_LOGOS=logos
SUPABASE_STORAGE_BUCKET_PROFILES=profiles
SUPABASE_STORAGE_BUCKET_BROCHURES=brochures
